.modalMain{
    height: 100vh;
    width: 100vw;
    background-color: rgba(0,0,0,0.4);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    z-index: 10;
    transition: .5s;
}

.modalMain.active{
    opacity: 1;
    pointer-events: all;
}

.modalMain__content{
    padding: 44px 16px;
    border-radius: 12px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 20px;
    height: 514px;
    width: 565px;
    transform: scale(0.5);
    transition: .5s all;

}

.modalMain__content.active{
    transform: scale(1);
}

.modal__image{
    display: flex;
    column-gap: 12px;
}

.modalImage{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 8px;
    cursor: pointer;
    margin-bottom: 24px;
    border-radius: 12px;
    background: #F7F6F9;
    padding: 22px 10px;
}

.modalImage__text{
    font-family: Gotham Pro, sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: #5458EA;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: none;
}

.modal__input{
    display: flex;
    flex-direction: column;
    width: 100%;
    row-gap: 10px;
    margin-bottom: 24px;
}

.modal__inputText{
    border-radius: 12px;
    background: #F7F6F9;
    padding: 10px 16px;
    outline: none;
    border: none;
    color: #C0C0C0;
    font-family: Gotham Pro, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
}

.modal__button{
    margin: 0 auto;
}


.modal__btn-add{
    font-family: Gotham Pro, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding: 10px;
    width: 345px;
    height: 45px;
    border: none;
    cursor: pointer;
    border-radius: 16px;
    background: #F7F6F9;
    color: #9CA4AB;
}

.img{
    width: 100px;
    height: 85px;
    border-radius: 8px;
}

